body {
    background: #FF4E02;
    box-sizing: border-box;
}

.name {
    position: relative;
    font-family: 'Dekko';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: bisque;
   
}

.menu-table {
    
    width: 500px;
    background: bisque;
    border-radius: 47px;
}

.menu-heading {
    text-align: center;
    font-family: 'Dekko';
    font-size: 2rem;
}
    
dt {
    font-size: 1.5rem;
    margin-left: 10%;
    font-family: 'Dekko';
}

dd {
    font-size: 1.5rem;
    margin-left: 15%;
    font-family: 'Dekko';
}
   
.clear {
    color: bisque;
}



p {
    text-align: center;
    font-family: 'Dekko';
    font-size: 1.5rem;
    color: bisque;
    float: right;
    padding: 20px
}