body {
    background: #FF4E02;
    box-sizing: border-box;
}

.name {
    position: relative;
    font-family: 'Dekko';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: bisque;
   
}

.menu {
    
    width: 550px;
    height: 700px;
    background: bisque;
    border-radius: 47px;
}

    
    
